choco/mavlink/include
**/*.pyc
**/__pycache__/
**/*.nupkg
**/*.exe
**/*.EXE
**/*.dll
**/*.DLL
**/*.zip
**/*.ZIP
**/*.rar
**/*.RAR
**/*.7z
**/*.7Z
**/*.gz
**/*.GZ
**/*.xz
**/*.XZ
**/*.msi
**/*.MSI
**/*.msu
**/*.MSU
**/*.msp
**/*.MSP
**/TODO
!*ReadMe.txt
